body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #283136;
    text-align: left;
    background-color: white;
}

fieldset {
    border: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-item a {
    color: #000000;
}

a {
    text-decoration: none;
}

hr {
    width: 1160px;
    margin: 0 auto;
    color: #283136;
}

.button {
    display: inline-block;
    padding: 17px 40px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.header__navigation a, .header__basket a {
    color: #000000;
    background-color: #eeeeee;
    font-weight: bold;
    text-transform: uppercase;
}

/*спрятал кнопки слайдера и скрытые заголовки*/

.slider__switch__btn, .visually-hidden {
    display: none;
}

.header__navigation a:hover, .header__navigation a:focus, .header__basket a:hover, .header__basket a:focus {
    color: #fb565a;
}

.header__navigation a:active, .header__basket a:active {
    color: rgba(0, 0, 0, 0.3)
}

.navigation__shop--active {
    border-bottom: 2px solid #fb565a;
}

.internal-page-main__filter .form__filter-name {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.slider__text h1 {
    font-size: 55px;
    line-height: 55px;
    background-color: #eeeeee;
}

.slider__button {
    margin-top: 45px;
    color: white;
    background-color: #fb565a;
}

.slider__button:hover, .slider__button:focus, .item__btn--web-sites:hover, .item__btn--web-sites:focus, .footer__conacts_btn:hover, .footer__conacts_btn:focus, .modal-window__btn:hover, .modal-window__btn:focus {
    background-color: #e74246;
}

.service .button {
    color: white;
    font-weight: bold;
}

.item__btn--web-sites {
    background-color: #fb565a;
}

.item__btn--applications:hover, .item__btn--applications:focus {
    background-color: #00bc6c;
}

.item__btn--applications {
    background-color: #00ca74
}

.item__btn--presentation:hover, .item__btn--presentation:focus {
    background-color: #eab534;
}

.item__btn--presentation {
    background-color: #efc849;
}

.slider__button:active, .item__btn--web-sites:active, .footer__conacts_btn:active, .modal-window__btn:active, .item__btn--presentation:active .item__btn--applications {
    color: rgba(255, 255, 255, 0.3);
}

.information__about-us b {
    font-size: 45px;
    line-height: 45px;
}

.information  .about-us__defis {
    color: #fb565a;
}

.information .about-us__order-text {
    text-transform: uppercase;
    color: black;
}

.information .counter__text {
    text-align: center;
    font-size: 16px;
    margin-bottom: 45px;
    margin-top: 35px;
}

.information .counter__percent {
    font-size: 28px;
}

.counter__table tr {
    height: 50px;
}

.counter__table th {
    width: 120px;
}

.counter__table tr:nth-of-type(2) {
    color: #283136;
}

.counter__table tr:nth-of-type(1) {
    font-size: 45px;
    font-weight: bold;
}

.footer__contacts b {
    font-size: 18px;
    text-transform: uppercase;
}

.item__browser-img {
    opacity: 0.12;
}

.catalog__item {
    position: relative;
}

.item__modal-price {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 360px;
    text-align: center;
    background-color: #eeeeee;
}

.item__modal-price b {
    display: block;
    font-size: 18px;
    color: black;
    padding-top: 35px;
}

.item__modal-price p {
    line-height: 18px;
    margin: 0;
    padding: 0;
    margin-top: 24px;
}

.button-price {
    background-color: #fb565a;
    color: white;
    margin: 0 65px;
    margin-top: 35px;
    margin-bottom: 40px;
}

.catalog__item:hover .item__browser-img {
    opacity: 1;
}

.for-frends__text b {
    font-size: 36px;
}

.footer__conacts_btn, .modal-window__btn {
    color: white;
    background-color: #fb565a;
}

.conacts__btn {
    margin-bottom: 33px;
    margin-top: 20px;
}

.footer__contacts .button {
    padding: 13px 50px
}

.modal-window {
    position: absolute;
    left: 240px;
    bottom: 180px;
    width: 780px;
    padding: 70px 100px;
    box-shadow: 0 15px 60px black;
    margin: 0 auto;
    background-color: white;
}

.modal-window__input_user, .modal-window__input_password {
    box-sizing: border-box;
    width: 360px;
    border: 2px solid #eeeeee;
    border-radius: 3px;
}

.modal-window__text-area textarea {
    box-sizing: border-box;
    width: 720px;
    border: 2px solid #eeeeee;
    border-radius: 3px;
}

.modal-window__close {
    margin-left: 380px;
}

.modal-window__login-form {
    display: flex;
    flex-wrap: wrap;
}

.modal-window fieldset {
    padding: 0;
    margin: 0;
}

/*Флексбоксы*/

.header {
    display: flex;
    width: 1440px;
    height: 200px;
    margin: auto;
    background-color: #eeeeee;
    justify-content: flex-start;
}

.header__logo {
    width: 160px;
    margin: auto 0;
    margin-left: 140px;
}

.header__navigation {
    width: 460px;
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    margin-left: 180px;
}

.header__basket {
    width: 140px;
    margin: auto 0;
    margin-left: 240px;
}

.advantages__slider {
    width: 1440px;
    display: flex;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #eeeeee;
    margin-bottom: 85px;
}

.slider__text {
    width: 420px;
    margin-left: 140px;
}

.slider__img {
    width: 697px;
    margin-right: 180px;
    padding: 0;
}

.service__wrap {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background-color: white;
}

.item__btn--web-sites {
    margin-left: 20px;
}

.item__btn--applications{
    margin-right: 80px;
}

.line-hr {
    margin-top: 80px;
    margin-bottom: 80px;
}

.information {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background-color: white;
}

.information__about-us {
    width: 700px;
    margin-left: 20px;
}

.information__counter {
    width: 360px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.counter__table {
    align-self: center;
}

.clients__line-hr_up {
    margin-top: 80px;
    margin-bottom: 45px;
}

.clients_line-hr_down {
    margin-top: 45px;
    margin-bottom: 85px;
}

.clients__leibls {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    background-color: white;
}

.footer__map {
    position: relative;
}

.footer__contacts {
    background-color: white;
    position: absolute;
    top: 50px;
    left: 140px;
    width: 320px;
    text-align: center;
}

.footer__map {
    width: 1440px;
    margin: 0 auto;
    background-color: white;
}

.footer__for-frends {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.footer-social {
    width: 580px;
    margin-left: 140px;
}

.for-frends__social-web {
    display: flex;
    margin-left: 20px;
    width: 260px;
    justify-content: space-between;
}

.modal-window {
    display: none;
}

.next {
    text-transform: uppercase;
}

.main-title {
    text-align: center;
    font-size: 55px;
    margin: auto;
    width: 1440px;
    height: 150px;
    background-color: #eeeeee;
}

.internal-page-main {
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
    width: 1200px;
}

.filter__form {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-left: 20px;
}

.filter__form fieldset {
    padding: 0;
    margin: 0;
}

.filter__form .filter__btn {
    background-color: #eeeeee;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.filter__form fieldset:nth-of-type(1) {
    width: 260px;
    min-height: 205px;
    margin-bottom: 60px;
}

.filter__form fieldset:nth-of-type(2) {
    width: 260px;
    margin-bottom: 60px;
}

.filter__form fieldset:nth-of-type(3) {
    width: 260px;
    margin-bottom: 50px;
}

.pagination-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.pagination-list__item {
    padding: 10px 18px;
    background-color: #eeeeee;
    border: 3px solid #eeeeee;
    margin-right: 10px;
    margin-top: 60px;
    margin-bottom: 65px;
}

.pagination-list .current {
    background-color: white;
}

.pagination-list .next {
    border-radius: 5px;
    padding: 10px 78px;
}

.footer .contacts__organization-name {
    margin-top: 53px;
    margin-bottom: 0;
}

.footer .contacts__organization-adres {
    margin-top: 26px;
    margin-bottom: 12px;
    line-height: 18px;
}

.footer .contacts__organization-phon {
    margin: 0;
}

.filter-form ul {
    margin-top: 30px;
}

.filter-form ul:nth-of-type(1) {
    margin-top: 60px;
}



.catalog {
    display: flex;
    margin-right: 20px;
    margin-left: 140px;
    width: 780px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.internal-page-main__products .products__sorting-box {
    width: 760px;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
}

.catalog__item {
    width: 360px;
}

.catalog__item a {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}


.catalog__item:hover .item__browser-img {
    opacity: 1;
}

.catalog__item:hover .item__modal-price {
    display: block;
} 

.internal-page-main .pagination-list {
    width: 445px;
}

.sorting-box__controls {
    display: flex;
    width: 360px;
}

.sorting-box__title{
    width: 360px;
}

.sorting-box__title p {
    margin-top: 0px;
}

.sorting-box__controls .controls__item {
    padding: 0;
    margin: 0;
    border: 0;
    margin-right: 20px;
    text-transform: uppercase;
    background-color: white;
}

.controls__arrows button {
    padding: 0;
    border: 0;
    margin: auto 9px;
}

.controls__arrows {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    width: 43px;
    background-color: white;
}

.arrow--down, .arrow--up {
    margin: auto 0;
}