html {
    width: 1440px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #283136;
    text-align: left;
    outline: none;
}

img {
    width: 100%;
    height: auto;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

hr {
    width: 1160px;
    margin: 0 auto;
    color: #283136;
}

.button {
    display: inline-block;
    padding: 13px 40px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.header {
    display: flex;
    width: 1440px;
    height: 200px;
    margin: auto;
    background-color: #eeeeee;
    justify-content: flex-start;
}

.service__btn--applications:hover,
.service__btn--applications:focus {
    background-color: #00bc6c;
}

.header__navigation a:hover,
.header__navigation a:focus,
.header__basket a:hover,
.header__basket a:focus {
    color: #fb565a;
}

.slider__button:hover,
.slider__button:focus,
.service__btn--web-sites:hover,
.service__btn--web-sites:focus,
.footer__conacts_btn:hover,
.footer__conacts_btn:focus,
.modal-window__btn:hover,
.modal-window__btn:focus,
.conacts__btn:hover,
.conacts__btn:focus {
    background-color: #e74246;
}

.service__btn--presentation:hover,
.service__btn--presentation:focus {
    background-color: #eab534;
}

.service__btn--applications:hover,
.service__btn--applications:focus {
    background-color: #00bc6c;
}

.header__navigation a:active,
.header__basket a:active {
    color: rgba(0, 0, 0, 0.3)
}

.slider__button:active,
.service__btn--web-sites:active,
.footer__conacts_btn:active,
.modal-window__btn:active,
.item__btn--presentation:active,
.item__btn--applications:active,
.conacts__btn:active {
    color: rgba(255, 255, 255, 0.3);
}

.pagination-list__item:hover,
.pagination-list__item:focus {
    background-color: #dfdfdf;
    border: 3px solid #dfdfdf;
}

.filter__btn:hover,
.filter__btn:focus {
    background-color: #dfdfdf;
}

.pagination-list__item:active .pagination-list__item-click-field,
.filter__btn:active {
    opacity: 0.3;
}

.header__logo {
    width: 160px;
    margin: auto 0;
    margin-left: 140px;
}

.header__logo a:hover {
    opacity: 0.8;
}

.header__logo a:active {
    opacity: 0.3;
}

.header__navigation {
    width: 460px;
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    margin-left: 180px;
}

.header__navigation a,
.header__basket a {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.navigation__item--active {
    border-bottom: 2px solid #fb565a;
}

.header__basket {
    width: 140px;
    margin: auto 0;
    margin-left: 240px;
}

.header__basket img {
    position: absolute;
    left: -35px;
    top: 2.5px;
    width: 15px;
    height: 15px;
}

.advantages {
    position: relative;
}

.slider {
    display: none;
    min-height: 367px;
}

.slide--active {
    display: block;
    position: relative;
    width: 1440px;
    display: flex;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #eeeeee;
    margin-bottom: 85px;
}

.slider-title {
    font-size: 55px;
    line-height: 55px;
    margin-top: 0;
    margin-bottom: 25px;
}

.slider__text {
    display: flex;
    flex-direction: column;
    width: 580px;
    margin-left: 140px;
}

.slider__text-description {
    width: 355px;
    margin: 25px 0;
}

.slider__title {
    width: 482px;
    font-size: 52px;
    margin: 0;
    line-height: 50px;
}

.slider-img {
    position: absolute;
    bottom: 0;
}

.slider-img--1 {
    right: 200px;
    width: 700px;
}

.slider-img--2 {
    right: 180px;
    width: 660px;
}

.slider-img--3 {
    width: 750px;
    right: 180px;
}

.slider-show {
    display: flex;
}

.slider__button {
    margin-top: 24px;
    margin-bottom: 80px;
    max-width: 240px;
    color: white;
    background-color: #fb565a;
}

.visually-hidden {
    display: none;
}

.slider__switch {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 90px;
    min-height: 20px;
    left: 50%;
    top: 50%;
    margin-left: 0;
    margin-top: 55px;
    z-index: 1;
}

.slider__switch__btn {
    width: 20px;
    height: 20px;
    border: 0;
    padding: 0;
    background-color: white;
    border-radius: 50%;
    outline: 0;
}

.slider__switch__btn--visited {
    border: 2px solid #777474;
}

.service__wrap {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.item__btn--web-sites {
    margin-left: 20px;
}

.item__btn--applications {
    margin-right: 80px;
}

.service__btn--web-sites,
.service__btn--applications,
.service__btn--presentation {
    color: white
}

.service__btn--web-sites {
    background-color: #fb565a;
}

.service__btn--applications {
    background-color: #00ca74;
}

.service__btn--presentation {
    background-color: #efc849;
}

.information {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.information__about-us {
    width: 700px;
    margin-left: 20px;
}

.information__counter {
    width: 360px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.information__text--big {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 35px;
}

.about-us__defis {
    color: #fb565a;
}

.about-us__order-text {
    margin-top: 50px;
    text-transform: uppercase;
    color: black;
}

.order-text__text {
    margin-top: 30px;
}

.counter__text {
    text-align: center;
    font-size: 16px;
    margin-bottom: 45px;
    margin-top: 35px;
}

.line-hr {
    margin-top: 80px;
    margin-bottom: 80px;
}

.counter__table {
    align-self: center;
}

.information .counter__percent {
    font-size: 28px;
}

.counter__table tr {
    height: 50px;
}

.counter__table th {
    width: 120px;
}

.counter__table tr:nth-of-type(2) {
    color: #283136;
}

.counter__table tr:nth-of-type(1) {
    font-size: 45px;
    font-weight: bold;
}

.clients__line-hr--up {
    margin-top: 80px;
    margin-bottom: 45px;
}

.clients_line-hr--down {
    margin-top: 45px;
    margin-bottom: 85px;
}

.clients__leibls {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer__map {
    position: relative;
    width: 1440px;
    margin: 0 auto;
}

.footer__contacts {
    background-color: white;
    position: absolute;
    top: 50px;
    left: 140px;
    width: 320px;
    text-align: center;
}

.contacts__organization-name {
    font-size: 18px;
    text-transform: uppercase;
}

.contacts__organization-name {
    margin-top: 53px;
    margin-bottom: 0;
}

.contacts__organization-adres {
    margin-top: 26px;
    margin-bottom: 12px;
    line-height: 18px;
}

.contacts__organization-phon {
    margin: 0;
}

.conacts__btn {
    margin-bottom: 33px;
    margin-top: 20px;
    padding: 13px 50px
}

.footer__for-frends {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.for-frends__social-web {
    width: 580px;
    margin-top: 70px;
    margin-left: 140px;
    justify-content: space-between;
}

.social-web-button__img--insta {
    width: 21px;
    height: 21px;
}

.social-web-button__img--fb {
    width: 12px;
    height: 22px;
}

.social-web-button__img--vk {
    width: 26px;
    height: 15px;
}

.for-frends__social-web-button--vk:active .social-web-button__img--vk,
.for-frends__social-web-button--fb:active .social-web-button__img--fb,
.for-frends__social-web-button--insta:active .social-web-button__img--insta {
    opacity: 0.3;
}

.for-frends__social-web-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    background-color: grey;
    align-items: center;
    justify-content: center;
}

.for-frends__social-web-button:hover,
.for-frends__social-web-button:active {
    background-color: #e74246;
}

.for-frends__text {
    margin-top: 80px;
    margin-left: 140px;
}

.for-frends__text b {
    font-size: 36px;
}

.internal-page-main {
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
    width: 1200px;
}

.main-title {
    text-align: center;
    font-size: 55px;
    margin: auto;
    width: 1440px;
    height: 150px;
    background-color: #eeeeee;
}

.filter__form {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-left: 20px;
}

.filter__btn-wrap {
    margin-top: 50px;
}

.filter__btn {
    background-color: #eeeeee;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    width: 260px;
}

.filter__list {
    margin-top: 15px;
}

.filter__radio-item,
.filter__radio-fix-btn,
.filter__checkbox-item {
    margin-top: 17px;
}

.filter__list {
    margin-top: 55px;
}

.filter__field-cost {
    min-height: 205px;
}

.filter__field-greed,
.filter__field-cost {
    width: 260px;
    margin-bottom: 40px;
}

.filter__field-features {
    width: 260px;
    margin-bottom: 50px;
}

.form__filter-name {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.filter__checkbox-item,
.filter__radio-item {
    position: relative;
    padding-left: 30px;
}


/* радио картинка */

.filter__radio-item label::before {
    background-image: url("../img-nerds/radio-off.svg");
    background-repeat: no-repeat;
}

.filter__radio-item input[type=radio]:checked+label::before {
    background-image: url("../img-nerds/radio-on.svg");
    background-repeat: no-repeat;
}


/* чексбокс картинка */

.filter__checkbox-item label:before,
.filter__radio-item label::before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
}

.filter__checkbox-item label:before {
    background-image: url("../img-nerds/checkbox-off.svg");
    background-repeat: no-repeat;
}

.filter__checkbox-item input[type=checkbox]:checked+label::before {
    background-image: url("../img-nerds/checkbox-on.svg");
    background-repeat: no-repeat;
}

.catalog {
    display: flex;
    margin-right: 20px;
    margin-left: 140px;
    width: 760px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__sorting-box {
    width: 760px;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
}

.sorting-box__controls {
    display: flex;
    width: 360px;
    margin-left: 40px;
}

.sorting-box__title {
    width: 360px;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px;
    font-weight: bold;
    vertical-align: middle;
    margin-top: 0px;
}

.controls__item {
    padding: 0;
    margin: 0;
    border: 0;
    margin-left: 20px;
    text-transform: uppercase;
    background-color: white;
    font-size: 14px;
}

.controls__item:nth-of-type(1) {
    margin: 0;
}

.arrow {
    padding: 0;
    border: 0;
    margin: auto 0;
    width: 10px;
    height: 10px;
    background-color: white;
}

.controls__arrows {
    margin-left: 45px;
    display: flex;
    justify-content: space-between;
    width: 43px;
}

.catalog__card {
    width: 360px;
}

.catalog__card-click-field {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}

.catalog__card:hover .card__browser-img {
    opacity: 1;
}

.catalog__card:hover .catalog__modal-window-card {
    display: block;
}

.catalog__product-name {
    display: block;
    font-size: 18px;
    color: black;
    padding-top: 35px;
}

.catalog__card {
    position: relative;
}

.catalog__modal-window-card {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 360px;
    text-align: center;
    background-color: #eeeeee;
}

.card__browser-img {
    opacity: 0.12;
}

.catalog__card:hover .card__browser-img {
    opacity: 1;
}

.button-price {
    background-color: #fb565a;
    color: white;
    margin: 0 65px;
    margin-top: 35px;
    margin-bottom: 40px;
}

.catalog__product-text {
    line-height: 18px;
    margin: 0;
    padding: 0;
    margin-top: 24px;
}

.pagination-list {
    list-style: none;
    margin: 0;
    width: 445px;
    padding: 0;
    display: flex;
}

.pagination-list__item {
    padding: 10px 18px;
    background-color: #eeeeee;
    border: 3px solid #eeeeee;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 60px;
    margin-bottom: 65px;
}

.pagination-list__click-field {
    color: #000000;
}

.pagination-list__item--current {
    background-color: white;
}

.pagination-list__item--next {
    padding: 10px 78px;
    width: 260px;
    text-transform: uppercase;
    font-weight: bold;
}

.conacts__btn,
.modal-window__btn {
    color: white;
    background-color: #fb565a;
}

.modal-window {
    display: none;
    position: fixed;
    left: 50%;
    margin-left: -490px;
    bottom: 100px;
    width: 780px;
    padding: 70px 100px 85px 100px;
    box-shadow: 0 15px 60px black;
    background-color: white;
    z-index: 2;
}

@keyframes animation-modal-window {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(60px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(100px);
    }
}

.modal-show {
    display: block;
    animation-name: animation-modal-window;
    animation-duration: 0.7s;
}

@keyframes animation-modal-window-eror {
    0% {
        transform: translateX(-20px);
    }
    25% {
        transform: translateX(20px);
    }
    50% {
        transform: translateX(-20px);
    }
    75% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0px);
    }
}

.modal-eror {
    animation-name: animation-modal-window-eror;
    animation-duration: 0.7s;
}

.modal-winow__title {
    font-size: 45px;
    margin: 0;
    margin-bottom: 42px;
}

.modal-window__user-name,
.modal-window__user-mail,
.modal-window__text-area {
    font-size: 16px;
}

.modal-window input[type="text"],
.modal-window input[type="email"],
.modal-window .text-letter {
    padding-left: 15px;
}

.modal-window .text-letter {
    padding-top: 15px;
}

.modal-window__user-mail {
    margin-left: 40px;
}

.modal-window__input_user,
.modal-window__input_email {
    box-sizing: border-box;
    width: 360px;
    height: 45px;
    border: 2px solid #eeeeee;
    border-radius: 3px;
}

.modal-window__input_email:invalid {
    border-color: #e74246;
    color: #e74246;
}

.modal-window__text-area textarea {
    box-sizing: border-box;
    width: 760px;
    border: 2px solid #eeeeee;
    border-radius: 3px;
}

.modal-window__input_user:hover,
.modal-window__input_email:hover,
.modal-window__text-area textarea:hover {
    color: #444444;
    border-color: #000000;
}

.modal-window__close-btn {
    margin-left: 380px;
    position: absolute;
    right: 120px;
    top: 65px;
    border: none;
    background-color: transparent;
    font-size: 0px;
    opacity: 0.3;
    outline: none;
}

.modal-window__close-btn:hover,
.modal-window__close-btn:focus {
    opacity: 1;
}

.modal-window__close-btn:active {
    opacity: 0.1;
}

.modal-window__close-btn::before,
.modal-window__close-btn::after {
    content: "";
    position: absolute;
    background-color: red;
    width: 19px;
    height: 3px;
}

.modal-window__close-btn::before {
    transform: rotate(45deg);
}

.modal-window__close-btn::after {
    transform: rotate(-45deg);
}

.modal-window__login-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.for-frends__social-web {
    display: flex;
    margin-left: 20px;
    width: 260px;
    justify-content: space-between;
}

.modal-window__btn {
    width: 260px;
}