

body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #283136;
    text-align: left;
   
    background-color: white;
    background-position: top center;
    background-repeat: no-repeat;
}


.next {
    text-transform: uppercase;
}

.pagination-item a {
    color: #000000;
}

a {
    text-decoration: none;
}

hr {
    width: 1160px;
    margin: 0 auto;
    color: #283136;
}

.main-navigation a, .basket a {
    color: #000000;
    background-color: #eeeeee;
    font-weight: bold;
    text-transform: uppercase;
}

.slider-buton,
/*спрятал кнопки слайдера и скрытые заголовки*/

.visually-hidden {
    display: none;
}

/*Прописываю состояние ссылок в соответствии со стайлгадом, не выглядит ли это громоздко? 
Дальше будет больше) */

.main-navigation a:hover, .main-navigation a:focus, .basket a:hover, .basket a:focus {
    color: #fb565a;
}

.main-navigation a:active, .basket a:active {
    color: rgba(0, 0, 0, 0.3)
}

.shop-navi {
    border-bottom: 2px solid #fb565a;
}

label.range, .sorting-title, legend.grid, legend.features {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.features-ul, .grid-ul, .cost {
    list-style: none;
}

.slider h1 {
    font-size: 55px;
    line-height: 55px;
    background-color: #eeeeee;
}

.advantegs-a {
    color: white;
    background-color: #fb565a;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.advantegs-a:hover, .advantegs-a:focus, .web-sites-order:hover, .web-sites-order:focus, .main-footer-window:hover, .main-footer-window:focus, .button-m-w:hover, .button-m-w:focus {
    background-color: #e74246;
}

.service h2 {
    color: #000000;
    text-transform: uppercase;
}

.service a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.web-sites-order {
    background-color: #fb565a;
    text-align: center;
    vertical-align: middle;
}

.applications-order:hover, .applications-order:focus {
    background-color: #00ca74;
    text-align: center;
    vertical-align: middle;
}

.applications-order {
    background-color: #00bc6c;
}

.presentation-order:hover, .presentation-order:focus {
    background-color: #eab534;
}

.presentation-order {
    background-color: #efc849;
    text-align: center;
    vertical-align: middle;
}

.advantegs-a:active, .web-sites-order:active, .main-footer-window:active, .button-m-w:active, .presentation-order:active {
    color: rgba(255, 255, 255, 0.3);
}

.information b {
    font-size: 45px;
    line-height: 45px;
}

.defis {
    color: #fb565a;
}

.information strong {
    text-transform: uppercase;
}

.counter .counter-b {
    text-align: center;
    font-size: 16px;
    margin-bottom: 45px;
    margin-top: 35px;
}

.percent {
    font-size: 28px;
}

.table tr {
    height: 50px;
}

/*Как я могу сократить каскадность в офомлении таблиц?*/

.table tr th {
    width: 120px;
}

.table tr:nth-of-type(2) {
    color: #283136;
}

.table table tr:nth-of-type(1) {
    font-size: 45px;
    font-weight: bold;
}

.view-filter {
    background-color: #eeeeee;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.footer-contacts {
    background-color: white;
}

.footer-contacts b {
    font-size: 18px;
    text-transform: uppercase;
}

.footer-social b {
    font-size: 36px;
}

.main-footer-window, .button-m-w {
    color: white;
    background-color: #fb565a;
    text-align: center;
    vertical-align: middle;
}

fieldset {
    border:0 none;
 }

/*Флексбоксы*/

.main-header {
    display: flex;
    width: 1440px;
    height: 200px;
    margin: auto;
    background-color: #eeeeee;
    justify-content: flex-start;
}

.main-header .main-header-logo {
    width: 160px;
    margin: auto 0;
    margin-left: 140px;
}

.main-header .main-navigation {
    width: 460px;
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    margin-left: 180px;
}

.main-header .basket {
    width: 140px;
    margin: auto 0;
    margin-left: 240px;
}

.slider {
    width: 1440px;
    display: flex;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #eeeeee;
    margin-bottom: 85px;
}

.slider .slider-text {
    width: 420px;
    padding-top: 70px;
    margin-left: 140px;
}

.slider .slider-img {
    width: 697px;
    margin-right: 180px;
    padding: 0;
}

.service-box {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background-color: white;
}

.web-sites {
    margin-left: 20px;
}

.presentation {
    margin-right: 80px;
}

.line-hr {
    margin-top: 80px;
    margin-bottom: 80px;
}

.information {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background-color: white;
}

.about-us {
    width: 700px;
    margin-left: 20px;
}

.counter {
    width: 360px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.table {
    align-self: center;
}

.works-up-hr {
    margin-top: 80px;
    margin-bottom: 45px;
}

.works-down-hr {
    margin-top: 45px;
    margin-bottom: 85px;
}

.works {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    background-color: white;
}

.footer-map {
    width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    background-color: white;
}

.footer-down {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.footer-social {
    width: 580px;
    margin-left: 140px;
}

.footer-social-web {
    display: flex;
    margin-left: 20px;
    width: 260px;
    justify-content: space-between;
}

.main-title {
    text-align: center;
    font-size: 55px;
    margin: auto;
    width: 1440px;
    height: 150px;
    background-color: #eeeeee;
}

.internal-page-main {
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
    width: 1200px;
}

.filter-form {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-left: 20px;
}

.filter-form fieldset {
    padding: 0;
    margin: 0;
}

.internal-page-main .filter-form fieldset:nth-of-type(1) {
    width: 260px;
    min-height: 205px;
    margin-bottom: 60px;
}

.internal-page-main .filter-form fieldset:nth-of-type(2) {
    width: 260px;
    margin-bottom: 60px;
}

.internal-page-main .filter-form fieldset:nth-of-type(3) {
    width: 260px;
    margin-bottom: 50px;
}

fieldset ul,
legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

fieldset ul:nth-of-type(1) {
    margin-top: 60px;
}

fieldset ul:nth-of-type(2),
fieldset ul:nth-of-type(3) {
    margin-top: 30px;
}

.internal-page-main .products {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 140px;
}

.internal-page-main .products .sorting {
    width: 760px;
}

.internal-page-main .products .catalogs {
    width: 760px;
}

.internal-page-main .products .pagination-list {
    width: 445px;
}

.sorting {
    display: flex;
    justify-content: space-between;
}

.sorting-controls button,
.sorting-arrows button {
    background-color: white;
}
.sorting-controls {
    display: flex;
}

.sorting .sorting-title {
    width: 360px;
}

.sorting-title p {
    margin-top: 0px;
}

.sorting .sorting-controls {
    width: 360px;
}

.sorting-controls .sorting-controls-item {
    padding: 0;
    margin: 0;
    border: 0;
    text-transform: uppercase;
}

.sorting-arrows button {
    padding: 0;
    border: 0;
    margin: auto 9 px;
}

.sorting-arrows {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    width: 43px;
}

.arrow-down, .arrow-up {
    margin: auto 0;
}

.products .catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog div a {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}